*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Font Sizes */
  --fs-xl: 4rem;
  --fs-h1: 1.75rem;
  --fs-h2: 1.25rem;
  --fs-body: 1rem;

  /* Font Weights */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;

  /* Colors */
  --clr-background: rgba(255, 255, 255, .5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-image: url(../img/fort-point.jpg);
  background-size: cover;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

header {
  height: 50px;
  width: 100%;
  background: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-semi)
  }
}

main {
  margin: 16px;
  padding: 8px;
  background: var(--clr-background);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.date {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

.surf-break {
  font-size: var(--fs-h2);
  font-weight: var(--fw-normal);
  margin: 8px 0;
}

.info-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

.info {
  font-size: var(--fs-body);
  font-weight: var(--fw-normal);
}

.direction {
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.direction__arrow {
  --direction: 0deg;
  --size: .5rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background: red;
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
}

.tide-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  .info-title {
    grid-row: 1 / 3;
    align-self: center;
  }
}
